extends layout
block main-content
    section(class="homepage")
        div(class="sidebar")
            div(class="servers")
                div(class="server" id="addServer")
                    img(class="server-icon" src=(style == "dark" ? "../img/white.png" : "../img/black.png"))
                each server in servers
                    div(class="server" name=server.id)
                        img(src=server.icon name=server.id class="server-icon")
                div(class="server" id="editAccount" name=userId tag=status)
                    img(class="server-icon" src=userImg name=userId)
        div(class="mainarea")
            div(class="content")
                h1(class="page-title") Welcome back 
                    span(class="username") #{username}
                div(class="online-friends")
                    h2(class="friends-title") Friends
                        form(action="/friendrequests" method="get")
                            input(type="submit" id="btn" value="Add friends")
                    div(class="friends-container")
                        each friend in friends
                            div(class="friend" id=friend.id  name=friend.status tag=friend.id )
                                img(src=friend.icon class="msg-icon")
                                h3(class="friend-name") #{friend.name}
        div(id="makeServerBack")
        div(id="makeServer")
            form(class="form" method="post" action="/makeServer" enctype="multipart/form-data")
                section(class="form-elements")
                    p(class="form-title") Make a Server
                    input(type="text" name="name" placeholder="Server Name" required)
                    section(class="radio-container")
                        label(for="Public") Public
                        input(type="radio" name="visibility" value="0" checked)
                        label(for="Private") Private
                        input(type="radio" name="visibility" value="1")
                    label(for="icon") Server Icon:
                    input(type="file" name="icon" accept=".png,.jpg,.jpeg,.gif" required)
                    input(type="submit" id="btn" value="Make Server")
    script(src="./js/serverButtons.js")
    script(src="./js/makeRoom.js")